@charset "utf-8";
/* CSS Document */

/* FOR ALL */
.anchor {
	display: block;
	position: relative;
	top: -100px;
	visibility: hidden;
}

#toTopBtn {
	position: fixed;
	bottom: 26px;
	right: 39px;
	z-index: 98;
	padding: 21px;
	background-color: #05152c;
}

.js .cd-top--fade-out {
	opacity: .5;
}

.js .cd-top--is-visible {
	visibility: visible;
	opacity: 1;
}

.js .cd-top {
	visibility: hidden;
	opacity: 0;
	transition: opacity .3s, visibility .3s, background-color .3s;
}

.cd-top {
	position: fixed;
	bottom: 20px;
	bottom: var(--cd-back-to-top-margin);
	right: 20px;
	right: var(--cd-back-to-top-margin);
	display: inline-block;
	height: 40px;
	height: var(--cd-back-to-top-size);
	width: 40px;
	width: var(--cd-back-to-top-size);
	box-shadow: 0 0 10px rgba(0, 0, 0, .05) !important;
	background: url(https://res.cloudinary.com/dxfq3iotg/image/upload/v1571057658/cd-top-arrow.svg) no-repeat center 50%;
	background-color: hsla(5, 76%, 62%, .8);
	background-color: hsla(var(--cd-color-3-h), var(--cd-color-3-s), var(--cd-color-3-l), 0.8);
}

.textdesign {
	color: aliceblue;
}

@font-face {
	font-family: 'Bahnschrift';
	src: url('fonts/Bahnschrift.eot') format('embedded-opentype');
	/* IE9 + later */
	src: url('fonts/Bahnschrift.ttf') format('truetype'),
	/* Safari og iOS, Chrome, Android, Firefox and Opera except Opera Mini  */
		url('fonts/Bahnschrift.woff') format('woff'),
	/* Newer browsers */
		url('fonts/Bahnschrift.svg#Bahnschrift') format('svg');
	/*IE og iOS earlier than version 5*/
}

@font-face {
	font-family: 'CenturyGothic';
	src: url('fonts/CenturyGothic.eot') format('embedded-opentype');
	/* IE9 + later */
	src: url('fonts/CenturyGothic.ttf') format('truetype'),
	/* Safari og iOS, Chrome, Android, Firefox and Opera except Opera Mini  */
		url('fonts/CenturyGothic.woff') format('woff'),
	/* Newer browsers */
		url('fonts/CenturyGothic.svg#CenturyGothic') format('svg');
	/*IE og iOS earlier than version 5*/
}

.section-title {
	text-align: left;
	font-family: 'CenturyGothic' !important;
	font-size: 70px;
	font-weight: bold;
	color: white;
	margin-bottom: 3%;
	margin-left: 15%;
}

#myVideo {
	right: 0;
	width: 100%;
	min-height: 100%;
	margin-bottom: -6px;
}

/* FOR ALL - END */

/* HEADER */
header {
	position: sticky;
	top: 0;
	z-index: 9999999;
}

.header-item {
	font-family: 'CenturyGothic' !important;
	white-space: nowrap;
}

#header_icon {
	width: 70px;
}

#header_booking {
	width: 35px;
}

/* HOMEPAGE */
.homepage_poster {
	width: 100%;
}

.backgroundimage {
	background-image: url("images/webbackground_new2.png");
	background-size: 100%;
}

/* Section 1: STORY */
.learnmore-btn {
	text-align: center;
	font-family: 'CenturyGothic' !important;
	font-size: 30px;
	color: white;
}

.homepage_story1 {
	text-align: center;
	color: aliceblue;
	font-size: 30px;
	font-family: 'Bahnschrift' !important;
	font-weight: 300;
	margin-bottom: 50px;
}

.homepage_story2 {
	text-align: center;
	color: aliceblue;
	font-size: 50px;
	font-family: 'Bahnschrift' !important;
	font-weight: 300;
	margin-bottom: 50px;
}

/* Section 2: DETAILS */
#details {
	margin: 20px 15% 20px 15%;
}

#sub-tit {
	font-family: 'CenturyGothic' !important;
	font-size: 70px;
	color: white;
	text-align: left;
}

.sub-txt {
	font-family: 'CenturyGothic' !important;
	font-size: 30px;
	color: white;
	text-align: left;
}

.details-table {
	text-align: center;
	margin-bottom: 10%;
	color: aliceblue;
	background-color: rgba(37, 47, 63, 0.8);
}

.infotext h3 {
	font-size: 50px;
}

.infotext {
	font-family: 'CenturyGothic' !important;
	font-size: 35px;
	color: white;
	padding: 30px 30px 30px 30px;
}

.map-container {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

#map {
	text-align: center;
	padding-top: 20px;
	padding-bottom: 20px;
	padding-right: 20px;
	padding-left: 10px;
	width: 550px;
	height: 700px;
	border: 0;
}

@media screen and (max-width: 1300px) {
	#map {
		width: 400px;
		height: 550px;
	}

	.sub-txt {
		font-size: 20px;
	}

	#sub-tit {
		font-size: 50px;
	}

	.infotext {
		padding: 0 0 0 10px;
		/* For sub-tit */
	}
}

@media screen and (max-width: 1020px) {
	#map {
		width: 6500px;
		height: 500px;
	}

}

/* Section 3 */
.youtube {
	position: relative;
	width: 100%;
	overflow: hidden;
	display: flex;
	align-items: center;
	justify-content: center;
}

/* FOOTER */
footer {
	width: 100%;
	font-family: 'CenturyGothic' !important;
}

footer a {
	color: black;
}

.footerfront {
	width: 100%;
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

#footerbg {
	background: #dee2ed;
}

.footer_socialtext {
	display: inline;
	font-size: 20px;
	white-space: nowrap;
}

#footer_iglogo,
#footer_fblogo {
	width: 10%;
}

#footer_maillogo {
	width: 10%;
}

@media screen and (max-width: 800px) {
	#footer_maillogo {
		width: 25px;
	}
}

.footer-slimtxt {
	font-family: 'CenturyGothic' !important;
}

.footer-tit {
	color: black;
	font-family: 'Bahnschrift' !important;
}

/* HOMEPAGE */

/* Contact Us */
.contactus-social {
	margin-left: 14%;
}

a {
	color: aliceblue;
}

.contactus_socialtext {
	display: inline;
}

.contactus-infotext1 {
	font-family: 'CenturyGothic' !important;
	font-size: 40px;
	color: aliceblue;
}

.contactus-infotext2 {
	font-family: 'CenturyGothic' !important;
	font-size: 20px;
	color: aliceblue;
}

#contactus_iglogo {
	width: 20%;
}

#contactus_fblogo {
	width: 20%;
}

/* Design */
.ele-txt {
	text-align: center;
	margin-bottom: 10%;
	color: aliceblue;
	font-family: 'CenturyGothic' !important;
}

.ele-table {
	margin-left: 20%;
	margin-right: 20%;
}

@media screen and (max-width: 1024px) {
	.ele-table {
		margin-left: 5%;
		margin-right: 5%;
	}
}

.design-infotext1 {
	font-size: 40px;
	color: #c0dcf6;
}

#design-elements {
	margin-bottom: 10%;
}

#design {
	padding-top: 20%;
	color: antiquewhite;
}

.details-head {
	font-size: 50px;
	font-family: 'Bahnschrift' !important;
	font-weight: bold;
}

.details-txt {
	font-size: 20px;
	font-family: 'CenturyGothic' !important;
}

#music-logo {
	width: 5%;
}

#Details {
	color: aliceblue;
	margin-bottom: 15%;
}

#dance,
#animation,
#effects,
#music {
	width:100% !important;
    height:100% !important;
    display:block;
}

.design-elements-img {
	width: 100%;
	padding-left: 20%;
	padding-right: 20%;
}

/* Storyline */
.story-subtitle {
	text-align: center;
	font-family: 'CenturyGothic' !important;
	font-size: 60px;
	font-weight: bold;
	color: white;
	margin-top: 5%;
	margin-bottom: 5%;
}

.storytext {
	text-align: left;
	font-family: 'CenturyGothic' !important;
	font-size: 35px;
	color: white;
	margin: 50px 15% 100px 15%;
}

.storyline_img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 70%;
}

/* Crew */
.crew-table {
	margin-left: 25%;
	margin-right: 25%;
}

.crew-name {
	font-size: 50px;
	color: aliceblue;
	padding-top: 25%;
	font-family: 'Bahnschrift' !important;
	font-weight: bold;
}

.crew-title {
	font-size: 25px;
	font-family: 'CenturyGothic';
	font-weight: normal;
	font-style: oblique;
}

@media screen and (max-width: 1200px) {
	.crew-title {
		font-size: 18px;
	}

	.crew-name {
		font-size: 30px;
	}
}

@media screen and (max-width: 768px) {
	.crew-title {
		font-size: 10px;
	}

	.crew-name {
		font-size: 20px;
	}
}

.crew-img {
	width: 400px;
	height: auto;
}

.responsive {
	width: 100%;
  	height: auto;
}

.members-txt {
	color: aliceblue;
	font-size: 30px;
}

/* booking */
.booking-center {
	text-align: center;
}

.booking-title {
	font-family: 'CenturyGothic' !important;
}

.booking-subtitle {
	font-family: 'CenturyGothic' !important;
}

.booking-result {
	font-family: 'CenturyGothic' !important;
	font-weight: 600;
}

.booking-btn {
	margin-left: 10px;
	font-family: 'Bahnschrift' !important;
}

.booking-txt {
	font-family: 'Bahnschrift' !important;
}

#booking-map {
	width: 400px;
}

@media screen and (max-width: 450px) {
	#booking-map {
		width: 350px;
	}
}

.blue-link {
	color: #24a0ed;
}

/* gallery */
#gallery {
	padding-bottom: 5px;
}

.img-gallery {
	width: 80%;
	margin: 100px auto 50px;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
	grid-gap: 30px;
}

.img-gallery img {
	width: 100%;
	cursor: pointer;
}

.img-gallery img:hover {
	transform: scale(0.9);
	border-radius: 20px;
	box-shadow: 0 32px 75px rgba(68, 77, 136, 0.2);
}

.full-img {
	z-index: 100;
	width: 100%;
	height: 100vh;
	background: rgba(0, 0, 0, 0.9);
	position: fixed;
	top: 0;
	left: 0;
	display: none;
	align-items: center;
	justify-content: center;
}

.full-img img {
	width: 90%;
	max-width: 1200px;
}

.full-img span {
	z-index: 9999999;
	position: absolute;
	top: 8%;
	right: 8%;
	font-size: 50px;
	cursor: pointer;
}